.center-text,
.main-heading,
.nostyle-list li
{
    text-align: center;
}


.center-image{
    display: block;
    margin: 0 auto;
}

#lasagna-image-size, 
#pizza-image-size,
#bolognese-image-size{
    max-width: 50%;
}

.main-heading{
    background-color: aquamarine;
    
}

.nostyle-list{
    list-style: none;
    padding-left: 0%;
}

.nostyle-list a {
    text-decoration: none;
    
}

.lower-list li{
    margin-bottom: 1%;
}

#homepage-image{
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

.ingredient-wrapper, .step-wrapper{
    max-width: fit-content;
    margin: 0 auto;
}

.ingredient-wrapper h3, .ingredient-wrapper li{
    text-align: center;
}

.ingredient-wrapper li, .step-wrapper{
    list-style: none;
}


